---
layout: blog
---

<article class="post-article">
  <a href="{{ '/' | relative_url }}" class="post-back">&lt; voltar_para_lista</a>

  <header class="post-header">
    <div class="post-meta">
      <span class="comment">// {{ page.date | ptbr_date_complete }}</span>
      <span class="tag">[{{ page.category }}]</span>
    </div>
    <h1 class="post-title color-{{ page.color }}">
      {{ page.icon }} {{ page.title }}
    </h1>
  </header>

  <div class="post-content">{{ content }}</div>

  <footer class="post-end">
    <span class="tag">[ fim do arquivo ]</span>
  </footer>
</article>
